<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Warehouse Project</title>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="css/projectFinalHandheldCss.css" media="only screen and (max-width:400px)" rel="stylesheet" type="text/css" />
	<link href="css/projectFinalCss.css" media="only screen and (min-width:401px)" rel="stylesheet" type="text/css" />
	<link href="css/projectFinalPrint.css" media="print" rel="stylesheet" type="text/css" />
	<link href="css/javaCssEnabled.css" rel="stylesheet" type="text/css" />
	<noscript>
		<link href="css/javaCssDisabled.css" rel="stylesheet" type="text/css" />
	</noscript>
	<script src="warehouseJava.js" type="text/javascript"></script>
</head>
<body>
	<div id="page">
		<div id="header">
			<!-- This is the heading which will be altered -->
			[+heading+]
		</div>
		<div id="contentArea">
		<div id="popBox" class="popup"><span class="popuptext" id="popUp"></span></div>
			<!-- This is the content that will will be altered -->
			[+content+]
		</div>
		<div id="footer">
			<!-- This is the footer that will will be altered -->
			[+footer+]
		</div>
	</div>
</body>
</html>